# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for the nebula-sync container. This file contains configuration settings for the nebula-sync service, including Docker image details, container settings, and synchronization parameters for pihole instances.
Required=true
# METADATA --- END

DOCKER_IMAGE_NS_NEBULA_SYNC= # recommended=ghcr.io/lovelaze/nebula-sync:v0.11.1 | type=string | prompt=Select the docker image for nebula-sync | instruction=Doesn't matter what image you choose, both are the same | choices=[ghcr.io/lovelaze/nebula-sync:v0.11.1 (description=Latest stable version on github, default=true), lovelaze/nebula-sync:v0.11.1 (description=Latest stable version on docker hub)] | description=The docker image for container nebula-sync | immutable = true
DOCKER_IMAGE_NS_NEBULA_SYNC_TAG= # recommended=v0.11.0 | type=string | prompt=Enter the docker image tag for nebula-sync | description=The docker image tag for container nebula-sync. This is used to specify the version of the nebula-sync image to use. It is recommended to use a specific version tag (e.g., v0.11.0) rather than 'latest' to ensure stability and avoid unexpected changes when new versions are released. | immutable=true
CONTAINER_NAME_NS_NEBULA_SYNC= # recommended=nebula-sync | type=string | prompt=Enter the container name for nebula-sync | description=The container name for nebula-sync. This is used to identify the container within Docker and for communication between containers and services that need to access nebula-sync. | immutable=true
APP_NAME_NS_NEBULA_SYNC= # recommended=nebula-sync | type=string | prompt=Enter the application name for nebula-sync | description=The application name for nebula-sync. This is used for labeling and organizing containers and services within Docker. It can be the same as the container name or different based on your naming conventions. | immutable=true
HOST_NAME_NS_NEBULA_SYNC= # recommended=nebula-sync | type=string | prompt=Enter the hostname for the nebula-sync container | description=The hostname for the nebula-sync container. This is used for communication between containers and services that need to access nebula-sync. | immutable=true
RESTART_NS_NEBULA_SYNC= # recommended=always | type=string | prompt=Enter the restart policy for the nebula-sync container | choices=[no (description=Doesn't restart the container if it crashes, you have to restart it manually), always (description=Always restart the container, default=true), on-failure (description=Restart only on failure), unless-stopped (description=Restart unless stopped)] | description=The restart policy for the nebula-sync container. This determines how Docker will handle the container if it stops or crashes. 'always' means that Docker will always try to restart the container if it stops, which is recommended for critical services like nebula-sync to ensure high availability. | immutable=false

IP_NS_NEBULA_SYNC= # recommended=172.16.0.4 | type=ip | prompt=Enter the internal IP address for the nebula-sync container | instruction=Leave it as default, it handles the internal IP address assignment automatically | description=Internal IP address for the nebula-sync container within the docker network. | immutable=true

# Nebula Sync configuration
# The URL and password for the primary pihole instance. This is required.
PRIMARY_PIHOLE_URL= # recommended=None | type=string | prompt=Enter the URL for the primary pihole instance | description=The URL for the primary pihole instance. This is required and is used by nebula-sync to connect to the primary pihole instance and synchronize data with it. | immutable=false
PRIMARY_PIHOLE_PASSWORD= # recommended=None | type=string | prompt=Enter the password for the primary pihole instance | description=The password for the primary pihole instance. This is required and is used by nebula-sync to authenticate with the primary pihole instance when connecting to it for synchronization. | immutable=false

# The URLs and passwords for the replica pihole instances. This is optional but recommended for redundancy. You can add as many replicas as you want by following the same format.
REPLICA_1_URL= # recommended=None | type=string | prompt=Enter the URL for the first replica pihole instance | description=The URL for the first replica pihole instance. This is optional but recommended for redundancy. This is used by nebula-sync to connect to the first replica pihole instance and synchronize data with it. | immutable=false
REPLICA_1_PASSWORD= # recommended=None | type=string | prompt=Enter the password for the first replica pihole instance | description=The password for the first replica pihole instance. This is optional but recommended for redundancy. This is used by nebula-sync to authenticate with the first replica pihole instance when connecting to it for synchronization. | immutable=false

# Resource limits for the nebula-sync container. Adjust these values based on your system's capabilities and the expected load. The CPU limits are in terms of CPU shares (0.05 means 5% of a single CPU core), and the memory limits are in bytes (6M means 6 megabytes).
CPU_MIN_NS_NEBULA_SYNC= # recommended=0.05 | type=float | prompt=Enter the minimum CPU limit for the nebula-sync container | instruction=Minimum CPU limit for the nebula-sync container. This is the minimum amount of CPU resources that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | immutable=true
CPU_MAX_NS_NEBULA_SYNC= # recommended=0.5 | type=float | prompt=Enter the maximum CPU limit for the nebula-sync container | instruction=Maximum CPU limit for the nebula-sync container. This is a hard limit. 1 is a good option. | immutable=false

RAM_MIN_NS_NEBULA_SYNC= # recommended=6M | type=memory | prompt=Enter the minimum RAM limit for the nebula-sync container | instruction=Minimum RAM limit for the nebula-sync container. This is the minimum amount of RAM that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | immutable=true
RAM_MAX_NS_NEBULA_SYNC= # recommended=128M | type=memory | prompt=Enter the maximum RAM limit for the nebula-sync container | instruction=Maximum RAM limit for the nebula-sync container. If you are on a VPS choose accordinly, 128M is a good option. | immutable=false
