# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=This file is used to store user preferences and configurations that are universal to the host machine and can be used across all the docker-compose files.
Required=true
# METADATA --- END

USERNAME= # default: None, constant: false, prompt: Enter the username of the user (use command `whoami` on linux), description: The username of the user. eg. `whoami` on linux

PROCESSOR_ARCH= # default: None, constant: false, prompt: Enter the processor architecture of the host machine, description: The processor architecture of the host machine. This is used to pull the correct images for the containers. eg. `uname -m` on linux. Common values are amd64, arm64, etc.
PROCESSOR_CORE_COUNT= # default: None, constant: false, prompt: Enter the number of processor cores of the host machine, description: The number of processor cores of the host machine. This is used to allocate resources for the containers. eg. `nproc` on linux.
PROCESSOR_THREAD_COUNT= # default: None, constant: false, prompt: Enter the number of processor threads of the host machine, description: The number of processor threads of the host machine. This is used to allocate resources for the containers. eg. `lscpu | grep "Thread(s) per core" | awk '{print $4}'` on linux.
RAM_TOTAL= # default: None, constant: false, prompt: Enter the total RAM of the host machine in GB, description: The total RAM of the host machine in GB. This is used to allocate resources for the containers. eg. `free -g | grep "Mem" | awk '{print $2}'` on linux.
STORAGE_LOCAL= # default: None, constant: false, prompt: Enter the total local storage of the host machine in GB, description: The total local storage of the host machine in GB. This is used to allocate resources for the containers. eg. `df -h --total | grep "total" | awk '{print $2}'` on linux.

LOAD_PREF= # default: None, constant: false, prompt: Enter the load preference for the containers (lite, normal, heavy), description: How much load are you okay with putting on your machine while deploying the containers. This is used to allocate resources for the containers. Choose 'lite' for minimal resource usage, 'normal' for balanced resource usage, and 'heavy' for maximum performance.
USE_TRAEFIK= # default: None, constant: false, prompt: Do you want to use Traefik as a reverse proxy for your containers? (yes/no), description: Whether you want to use Traefik as a reverse proxy for your containers. This is used to determine whether to deploy Traefik and configure it for the containers. Choose 'yes' to use Traefik, and 'no' to not use Traefik.
OPEN_PORTS= # default: None, constant: false, prompt: Do you want to open the ports for the containers to the host machine? (yes/no), description: Whether you want to open the ports for the containers to the host machine. This is used to determine whether to expose the ports for the containers. Choose 'yes' to open the ports, and 'no' to not open the ports.

INSTALL_DIR= # default: None, constant: false, prompt: Enter the directory where you want to store your docker related files, description: The directory where you want to store your docker related files. This is used to determine where to store the docker-compose files and data files for the containers. eg. /home/user/containers

USE_LATEST= # default: None, constant: false, prompt: Do you want to use the latest versions of the images for the containers? (yes/no), description: Whether you want to use the latest versions of the images for the containers. This is used to determine whether to pull the latest images for the containers. Choose 'yes' to use the latest images, and 'no' to use the specified versions in the docker-compose files.
