# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Network related environment variables. These variables are used to configure the network settings for the containers, such as IP addresses and ports. Make sure to update these variables according to your host machine's configuration before using the docker-compose files.
Required=true
# METADATA --- END

IP_PRIVATE= # recommended= | compute=private_ip | type=ip | prompt=Enter the private/internal IP address of the host machine, description=This defaults from host network interfaces and prefers ethernet over Wi-Fi when both are available. It is used for internal communication within the local network. | instruction=This is important. | immutable=false
IP_PUBLIC= # recommended= | compute=public_ip | type=ip | prompt=Enter the public/external IP address of the host machine, description=This defaults from a trusted HTTPS public IP lookup service using Python networking only. It is used for external communication. | immutable=false
IP_TAILSCALE= # recommended= | compute=tailscale_ip | type=ip | prompt=Enter the Tailscale IP address of the host machine, description=This defaults from the IPv4 address assigned to the host tailscale interface. It is used for secure communication over Tailscale network. | immutable=false

HTTP_PORT= # recommended=80 | type=port | prompt=Enter the HTTP port of the machine, description=This is the port on which the host machine will listen for incoming HTTP traffic. It can be accessed via http://<IP_PUBLIC>:80 or http://<IP_TAILSCALE>:80 depending on the network used. | immutable=true
HTTPS_PORT= # recommended=443 | type=port | prompt=Enter the HTTPS port of the machine, description=This is the port on which the host machine will listen for incoming HTTPS traffic. It can be accessed via https://<IP_PUBLIC>:443 or https://<IP_TAILSCALE>:443 depending on the network used. | immutable=true

# DOCKER NETWORK RELATED VARIABLES
## docker network create --driver bridge --subnet 172.16.0.0/16 --gateway 172.16.0.1 traefiknet

DOCKER_NETWORK= # recommended=traefiknet | type=string | prompt=Enter the name of the docker network to be used for the containers, description=This is the name of the docker network that will be used for communication between the containers. It should be created before using the docker-compose files, and all containers should be connected to this network. | immutable=true
