# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=VPN related environment variables. These variables are used to configure the VPN settings for the containers, such as VPN server address, credentials, and protocols.
Required=false
# METADATA --- END

VPN_SERVICE_PROVIDER= # recommended= | type=string | prompt=Enter the name of your VPN service provider | immutable=false
VPN_TYPE= # recommended= | type=string | prompt=Enter the type of VPN protocol you are using | choices=[openvpn, wireguard, ikev2] | immutable=false

# OPENVPN RELATED VARIABLES

OPENVPN_USER= # recommended= | type=string | prompt=Enter the username for your OpenVPN account | immutable=false
OPENVPN_PASSWORD= # recommended= | type=password | prompt=Enter the password for your OpenVPN account | immutable=false
OPENVPN_PORT= # recommended=1194 | type=port | prompt=Enter the port number for your OpenVPN connection | immutable=false

# WIREGUARD RELATED VARIABLES

WIREGUARD_PRIVATE_KEY= # recommended= | type=string | prompt=Enter the private key for your WireGuard connection | immutable=false
WIREGUARD_PUBLIC_KEY= # recommended= | type=string | prompt=Enter the public key for your WireGuard connection | immutable=false
WIREGUARD_PORT= # recommended=51820 | type=port | prompt=Enter the port number for your WireGuard connection | immutable=false
WIREGUARD_PRESHARED_KEY= # recommended= | type=string | prompt=Enter the pre-shared key for your WireGuard connection (if applicable) | immutable=false

# COMMON VPN VARIABLES

SERVER_REGIONS= # recommended= | type=list | prompt=Enter the server regions you want to connect to, separated by commas | immutable=false
SERVER_CITIES= # recommended= | type=list | prompt=Enter the server cities you want to connect to, separated by commas | immutable=false

# REGION_CITY=
# CITIES_CITY=