# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Uptime Kuma, a self-hosted monitoring tool for your services.
Required=true
# METADATA --- END

STACK_UK_UPTIMEKUMA= # recommended=uptimekuma | immutable=true
DOCKER_IMAGE_UK_UPTIMEKUMA= # recommended=ghcr.io/louislam/uptime-kuma:2-rootless | type=string | prompt=Select the docker image. | choices=[ghcr.io/louislam/uptime-kuma:2-rootless] | immutable=true
CONTAINER_NAME_UK_UPTIMEKUMA= # recommended=uptimekuma | type=string | prompt=Enter the container name for Uptime Kuma | instruction=The container name for Uptime Kuma. | immutable=true
HOST_NAME_UK_UPTIMEKUMA= # recommended=uptimekuma | type=string | immutable=true
RESTART_UK_UPTIMEKUMA= # recommended=unless-stopped | type=string | prompt=Select the restart policy for Uptime Kuma | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

APP_NAME_UK_UPTIMEKUMA= # recommended=uptimekuma | type=string | prompt=Enter the app name for Uptime kuma. This is the name of the website - https://uptimkuma.subdomain.domain.com | immutable=false

IP_UK_UPTIMEKUMA= # recommended=172.16.0.18 | type=ip | prompt=Enter the IP address for Uptime Kuma | instruction=The IP address for Uptime Kuma. This is used for the network configuration. | immutable=false
PORT_UK_UPTIMEKUMA_INTERNAL= # recommended=3001 | type=port | immutable=true
PORT_UK_UPTIMEKUMA_EXTERNAL= # recommended=3011 | type=port | prompt=Enter the external port for Uptime Kuma | instruction=The external port for Uptime Kuma. This is the port that Uptime Kuma listens on outside the container. | immutable=true

CPU_MIN_UK_UPTIMEKUMA= # recommended=0.05 | type=float | immutable=true
CPU_MAX_UK_UPTIMEKUMA= # recommended=1 | type=float | prompt=Enter the maximum CPU that Uptime Kuma container should use. 1 is a good option. You can also assign the maximum CPU because Uptime Kuma uses some CPU compute. Leave 1 or 2 cores so your CPU does not freeze up completely. | immutable=false

RAM_MIN_UK_UPTIMEKUMA= # recommended=6M | type=memory | immutable=true
RAM_MAX_UK_UPTIMEKUMA= # recommended=1G | type=memory | prompt=Enter the maximum RAM to use for Uptime Kuma container. Choose this wisely if you are on a VPS. Uptime Kuma can use a lot of RAM if you have a lot of monitors. 1G is a good start, you can always increase it later. | immutable=false

DIR_UK_UPTIMEKUMA= # recommended=uptimekuma | type=string | immutable=true

UK_UPTIMEKUMA_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
