# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Email related environment variables. Generally used for sending emails using smtp or for services that require email configuration
Required=false
# METADATA --- END
