# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Host related variables that will be used across the docker-compose files. These variables are specific to the host machine and can be used to configure various aspects of the containers, such as user permissions, and volume mounts. Make sure to update these variables according to your host machine's configuration before using the docker-compose files.
Required=true
# METADATA --- END

# User related

USER_NAME= # type=string | prompt=Enter the username of the user, description=eg. `whoami` on linux | instruction=Keep this the same as your username.
UID= # type=integer | prompt=Enter the user ID of the user, description=The user id of the user. eg. `id -u` on linux
GID= # type=integer | prompt=Enter the group ID of the user, description=The group id of the user. eg. `id -g` on linux
GID_DOCKER= # type=integer | prompt=Enter the group ID of the docker group, description=The group id of the docker group. eg. `getent group docker | cut -d: -f3` on linux

HOST_NAME= # type=string | prompt=Enter the hostname of the machine, description=The hostname of the machine. eg. `hostname` on linux
DOMAIN= # type=string | prompt=Enter the name of your domain, description=The name of your domain, or website. eg. example.com

# Timezone related

TZ= # type=string | prompt=Enter the timezone of the machine, description=The timezone of the machine. eg. `timedatectl | grep "Time zone" | awk '{print $3}'` on linux. Or visit https://en.wikipedia.org/wiki/List_of_tz_database_time_zones to find yours.
LOCALTIME= # type=string | prompt=Enter the path to the localtime file, description=The path to the localtime file on the host machine. This file is used to set the timezone inside the containers. It is usually located at /etc/localtime on most Linux distributions. | immutable=true
DOCKER_SOCKET= # type=string | prompt=Enter the path to the docker socket, description=The path to the docker socket on the host machine. This file is used to allow the containers to communicate with the docker daemon on the host machine. It is usually located at /var/run/docker.sock on most Linux distributions. | immutable=true

DIR_DOCKER= # type=string | prompt=Enter the directory where you want to store your docker related files, description=The directory where you want to store your docker related files. eg. /home/user/containers | immutable=true
DIR_COMPOSE= # type=string | prompt=Enter the directory where you want to store your docker-compose files, description=The directory where you want to store your docker-compose files. eg. /home/user/containers/compose | immutable=true
DIR_DATA= # type=string | prompt=Enter the directory where you want to store your data files for the containers, description=The directory where you want to store your data files for the containers. eg. /home/user/containers/data | immutable=true
