# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=VPN related environment variables. These variables are used to configure the VPN settings for the containers, such as VPN server address, credentials, and protocols.
Required=false
# METADATA --- END