# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Beszel. Lightweight server monitoring with historical data, docker stats, and alerts.
Required=true
# METADATA --- END

STACK_BZ_BESZEL= # recommended=beszel | type=string | immutable=true
DOCKER_IMAGE_BZ_BESZEL= # recommended=henrygd/beszel:latest | type=string | immutable=true
CONTAINER_NAME_BZ_BESZEL= # recommended=beszel | type=string | immutable=true
HOST_NAME_BZ_BESZEL= # recommended=beszel | type=string | immutable=true
RESTART_BZ_BESZEL= # recommended=unless-stopped | type=string | prompt=Choose a restart policy | choices=[no, unless-stopped, always(default=true)] | immutable=false
APP_NAME_BZ_BESZEL= # recommended=beszel | type=string | prompt=Enter the name for this application, It will be used for the website. For example, https://beszel.subdomain.domain.com | immutable=false

IP_BZ_BESZEL= # recommended=172.16.0.20 | type=ip |immutable=true
PORT_BZ_BESZEL_INTERNAL= # recommended=8090 | type=port | prompt=Internal port Beszel listens on | immutable=true
PORT_BZ_BESZEL_EXTERNAL= # recommended=3013 | type=port | prompt=External port to access Beszel | immutable=true

CPU_MIN_BZ_BESZEL= # recommended=0.25 | type=float | prompt=Minimum CPU limit (in cores) | immutable=true
CPU_MAX_BZ_BESZEL= # recommended=0.5 | type=float | prompt=Maximum CPU limit (in cores) | immutable=false

RAM_MIN_BZ_BESZEL= # recommended=256M | type=string | prompt=Minimum RAM limit (e.g., 128M, 1G) | immutable=true
RAM_MAX_BZ_BESZEL= # recommended=512M | type=string | prompt=Maximum RAM limit (e.g., 256M, 2G) | immutable=false

DIR_BESZEL= # recommended=beszel | type=string | prompt=Directory name for Beszel data (relative to data directory) | immutable=true

# DOCKER_IMAGE_BZ_BESZEL_AGENT=henrygd/beszel-agent:latest # recommended=henrygd/beszel-agent:latest | type=string | immutable=true
# CONTAINER_NAME_BZ_BESZEL_AGENT=beszel-agent # recommended=beszel-agent | type=string | immutable=true
# RESTART_BZ_BESZEL_AGENT=unless-stopped # recommended=unless-stopped | type=string | prompt=Choose a restart policy | choices=[no, unless-stopped, always(default=true)] | immutable=false

# BESZEL_AGENT_TOKEN= # recommended= | type=string | prompt=Enter a random token for the Beszel agent to authenticate with the Beszel server. You can generate a random token using `openssl rand -hex 16` | immutable=false
# BESZEL_AGENT_KEY= # recommended= | type=string | prompt=Enter a random key for the Beszel agent to authenticate with the Beszel server. You can generate a random key using `openssl rand -hex 32` | immutable=false

BZ_BESZEL_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
