# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Plex, a self-hosted media server for all your media.
Required=true
# METADATA --- END

STACK_PS_PLEX= # recommended=plex | immutable=true
DOCKER_IMAGE_PS_PLEX= # recommended=linuxserver/plex:latest | type=string | prompt=Select the docker image. | choices=[linuxserver/plex:latest] | immutable=true
CONTAINER_NAME_PS_PLEX= # recommended=plex | type=string | prompt=Enter the container name for Plex | instruction=The container name for Plex. | immutable=true
HOST_NAME_PS_PLEX= # recommended=plex | type=string | immutable=true
APP_NAME_PS_PLEX= # recommended=plex | type=string | prompt=Enter the application name for Plex | instruction=The application name for Plex. This is used for the URL of your app. for example, https://plex.subdomain.domain.com | immutable=false
RESTART_PS_PLEX= # recommended=unless-stopped | type=string | prompt=Select the restart policy for Plex | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_PS_PLEX= # recommended=172.16.0.11 | type=ip | immutable=true
PORT_PS_PLEX_INTERNAL= # recommended=32400 | type=port | immutable=true
PORT_PS_PLEX_EXTERNAL= # recommended=32400 | type=port | prompt=Enter the external port for Plex | instruction=The external port for Plex. This is the port that Plex listens on outside the container. | immutable=false

CPU_MIN_PS_PLEX= # recommended=0.05 | type=float | immutable=true
CPU_MAX_PS_PLEX= # recommended=4 | type=float | prompt=Enter the maximum CPU that Plex container should use. 2-4 is a good option. You can also assign the maximum CPU because plex uses some serious CPU compute. Leave 1 or 2 cores so your CPU does not freeze up completely. | immutable=false

RAM_MIN_PS_PLEX= # recommended=6M | type=memory | immutable=true
RAM_MAX_PS_PLEX= # recommended=4G | type=memory | prompt=Enter the maximum RAM to use for Plex container. Choose this wisely if you are on a VPS. Plex can use a lot of RAM if you have a large media library. 4G is a good start, you can always increase it later. | immutable=false

DIR_PS_PLEX= # recommended=plex | type=string | immutable=true

DIR_MEDIA= # recommended= | type=path | prompt=Enter the path to your media directory for Plex | instruction=The TV, movie and music directories will be /path_to_your_plex/TV, /path_to_your_plex/Movies and /path_to_your_plex/Music respectively. | immutable=false

ALLOWED_NETWORKS= # recommended=172.16.0.0/16,192.168.1.0/24,10.0.0.0/16 | type=string | prompt=Enter the allowed networks for Plex in CIDR format separated by space. | instruction=The allowed networks for Plex in CIDR format separated by space. For example, 192.168.1.0/24 10.0.0.0/16. This is used to restrict access to Plex. Only devices on these networks will be able to access Plex. If you want to allow access from anywhere, leave this empty. | immutable=false

PS_PLEX_CLAIM_TOKEN= # recommended= | type=string | prompt=Enter your Plex claim token | instruction=The Plex claim token is used to link your Plex server to your Plex account. You can get a claim token from https://www.plex.tv/claim/. You have limited time to start the container after generating the token. So, be quick. | immutable=false
