# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Gatus is a monitoring system that checks the health of your services and notifies you when they are down. It provides a web interface to view the status of your services and configure alerts. Gatus can be used to monitor websites, APIs, databases, and other services. It supports various notification channels such as email, Slack, Discord, and more. Gatus is designed to be lightweight and easy to use, making it a great choice for monitoring small to medium-sized applications and services.
Required=true
# METADATA --- END

DOCKER_IMAGE_GA_GATUS= # # recommended=ghcr.io/twin/gatus:v5.35.0 | type=string | prompt=Select the docker image for gatus | choices=[ghcr.io/twin/gatus:v5.35.0 (description=Latest stable version on github, default=true)] | description=The official gatus docker image. | immutable=true
DOCKER_IMAGE_GA_GATUS_TAG= # recommended=v5.35.0 | type=string | prompt=Select the tag for the gatus docker image | choices=[v5.35.0 (description=Latest stable version on github, default=true)] | description=The tag for the gatus docker image. It is recommended to use a specific tag for production use to ensure stability and avoid unexpected issues caused by updates to the latest tag. | immutable=true
DOCKER_IMAGE_GA_GATUS_TAG_LATEST= # recommended=latest | type=string | prompt=Select the tag for the latest gatus docker image | choices=[latest (description=The latest version of gatus, which may include new features and bug fixes but may also introduce breaking changes. It is recommended to use this tag for testing and development purposes, but for production use, it is recommended to use a specific tag to ensure stability.)] | description=The tag for the latest gatus docker image. It is recommended to use this tag for testing and development purposes, but for production use, it is recommended to use a specific tag to ensure stability. | immutable=true
RESTART_GA_GATUS= # recommended=always | type=string | prompt=Select the restart policy for the gatus container | choices=[always (description=Always restart the container if it stops, regardless of the exit status. Recommended, default=true)] | on-failure (description=Restarts on error) | unless-stopped (description=Restart the container unless it is explicitly stopped by the user.) | no (description=Do not restart the container automatically.) | description=The restart policy for the gatus container. It is recommended to set this to always or on-failure for critical services to ensure that they are always running, but it can be set to unless-stopped or no for less critical services or for testing and development purposes. | immutable=false

HOST_NAME_GA_GATUS= # recommended=gatus | type=string | prompt=Enter the hostname for the gatus container | instruction=The hostname for the gatus container. This is used for internal communication between containers and can be set to any value, but it is recommended to set it to the same value as the container name for consistency and ease of identification. | immutable=true
APP_NAME_GA_GATUS= # recommended=gatus | type=string | prompt=Enter the application name for gatus | instruction=The application name for gatus. This is subdomain of the url. for example: https://gatus.subdomain.domain.com. gatus is a good option. | immutable=false
CONTAINER_NAME_GA_GATUS= # recommended=gatus | type=string | prompt=Enter the container name for gatus | instruction=The container name for gatus. This is used for identifying the container within the Docker environment and can be set to any value, but it is recommended to set it to the same value as the hostname and application name for consistency and ease of identification. | immutable=true

IP_GA_GATUS= # recommended=172.16.0.5 | type=ip | prompt=Enter the IP address for the gatus container | instruction=The IP address for the gatus container. This is used for internal communication between containers and can be set to any value within the subnet of the Docker network, but it is recommended to set it to a specific value to ensure that it does not conflict with other containers and to make it easier to identify and access the container within the network. | immutable=true
PORT_GA_GATUS= # recommended=8080 | type=port | prompt=Enter the port for the gatus container | instruction=Exposed port of gatus on your host. | immutable=false
PORT_GA_GATUS_INTERNAL= # recommended=8080 | type=port | prompt=Enter the internal port for the gatus container | instruction=The internal port for the gatus container. This is used for communication between containers and can be set to any value, but it is recommended to set it to the same value as the external port for consistency and ease of configuration. | immutable=true

DIR_GA_GATUS= # recommended=gatus | type=string | prompt=Enter the directory name for gatus data | instruction=The directory name for gatus data. This is used for storing gatus configuration and data files and can be set to any value, but it is recommended to set it to the same value as the application name for consistency and ease of identification. | immutable=true

# Resource limits for gatus container
CPU_MIN_GA_GATUS= # recommended=0.05 | type=float | prompt=Enter the minimum CPU limit for the gatus container | instruction=Minimum CPU limit for the gatus container. This is the minimum amount of CPU resources that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | immutable=true
CPU_MAX_GA_GATUS= # recommended=2 | type=float | prompt=Enter the maximum CPU limit for the gatus container | instruction=Hard limit for CPU for this container. Choose wisely if you are on VPS. 2 is a good option. | immutable=false

RAM_MIN_GA_GATUS= # recommended=6M | type=memory | prompt=Enter the minimum RAM limit for the gatus container | instruction=Minimum RAM limit for the gatus container. This is the minimum amount of RAM that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | immutable=true
RAM_MAX_GA_GATUS= # recommended=512M | type=memory | prompt=Enter the maximum RAM limit for the gatus container | instruction=Hard limit for RAM for this container. If you are on VPS, set accordingly. 1G is a good option. | immutable=false

PORT_GA_GATUS_EXTERNAL= # recommended=3000 | type=port | immutable=true
PORT_GA_GATUS_INTERNAL= # recommended=8080 | type=port | immutable=true

GA_GATUS_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select which network interfaces gatus should be exposed | choices=[traefik (description=Only expose gatus through traefik, default=true), all (description=Bind gatus to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind gatus to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
