# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Traefik related environment variables. These variables are used to configure the Traefik reverse proxy, including its image, container name, ports, resource limits, and credentials for the dashboard.
Required=true
# METADATA --- END

DOCKER_IMAGE_TR_TRAEFIK= # recommended=traefik:latest | type=string | prompt=Select the docker image to user for traefik | instruction=There is just one option, so just pick that one | choices=[traefik:latest (description=official traefik image from docker hub, default=true)] | immutable=true
CONTAINER_NAME_TR_TRAEFIK= # recommended=traefik | type=string | prompt=Enter the container name for traefik | instruction=This is used to identify the container within the Docker environment and for communication between containers. | default=traefik | immutable=true
HOST_NAME_TR_TRAEFIK= # recommended=traefik | type=string | prompt=Enter the hostname for the traefik container | instruction=The hostname for the traefik container. This is used for communication between containers and services that need to access traefik. | default=traefik | immutable=true
APP_NAME_TR_TRAEFIK= # recommended=traefik | type=string | prompt=Enter the subdomain name for traefik | instruction=The subdomain name for traefik. Eg. traefik.<subdomain>.<domain>.com | default=traefik | immutable=true
RESTART_TR_TRAEFIK= # recommended=always | type=string | prompt=Select the restart policy for the traefik container | instruction=This determines how docker will handle the container if it stops or crashes. 'always' is the recommended option. | choices=[always (description=docker will always try to restart the container if it stops, recommended for critical services like traefik to ensure high availability, default=true), unless-stopped (description=docker will try to restart the container unless it was stopped manually), on-failure (description=docker will try to restart the container only if it exits with a non-zero status, can be used for services that are not critical and can be allowed to fail without affecting the overall system), no (description=docker will not try to restart the container, not recommended for most services as it can lead to downtime if the container stops unexpectedly)] | default=always | immutable=false

IP_TR_TRAEFIK= # recommended=172.16.0.3 | type=ip | prompt=Enter the internal IP address for the traefik container | instruction=If you don't know what you are doing then leave it as default. This IP is docker network internal IP and this tool handles it well | default=172.16.0.3 | immutable=true
PORT_TR_TRAEFIK_HTTP= # recommended=80 | type=port | prompt=Enter the HTTP port for Traefik | instruction=HTTP port for Traefik. This port is used for handling incoming HTTP requests and routing them to the appropriate containers based on the defined rules in Traefik's configuration. | default=80 | immutable=true
PORT_TR_TRAEFIK_HTTPS= # recommended=443 | type=port | prompt=Enter the HTTPS port for Traefik | instruction=HTTPS port for Traefik. This port is used for handling incoming HTTPS requests and routing them to the appropriate containers based on the defined rules in Traefik's configuration. It is also used for serving the Traefik dashboard securely over HTTPS if configured to do so. | default=443 | immutable=true
PORT_TR_TRAEFIK_DASHBOARD= # recommended=8080 | type=port | prompt=Enter the dashboard port for Traefik | instruction=Traefik dashboard port, which can be accessed via http://<IP_PUBLIC>:8080 or http://<IP_TAILSCALE>:8080 depending on the network used. | default=8080 | immutable=true

DIR_NAME_TR_TRAEFIK= # recommended=traefik | type=string | prompt=Enter the directory name for traefik | instruction=The directory name for traefik. This is used to store traefik's configuration files, certificates, and other data on the host machine. It is recommended to use a descriptive name like 'traefik' to easily identify it among other directories. | default=traefik | immutable=true

CPU_MIN_TR_TRAEFIK= # recommended=0.05 | type=float | prompt=Enter the minimum CPU limit for Traefik | instruction=Minimum CPU limit for the Traefik container. This is the minimum amount of CPU resources that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | default=0.05 | immutable=true
CPU_MAX_TR_TRAEFIK= # recommended=1.5 | type=float | prompt=Enter the maximum CPU limit for Traefik | instruction=Max CPU this container can use. It is a hard limit. If you are on a VPS, set this convervatively, but 1.5 or 2 is a good option. | description=Hard limit for the container to use the amount of CPU. Container can use lower than that but not more. | immutable=false

RAM_MIN_TR_TRAEFIK= # recommended=6M | type=memory | prompt=Enter the minimum RAM limit for Traefik | instruction=Minimum RAM limit for the Traefik container. This is the minimum amount of RAM that the container will be allocated. It is recommended to set this to a low value to ensure that the container can start and run even on low-resource systems. | default=6M | immutable=true
RAM_MAX_TR_TRAEFIK= # recommended=512M | type=memory | prompt=Enter the maximum RAM limit for Traefik | instruction=This is the max amount. It is a hard limit. If you are on a VPS set this convervatively, 1G is a good option. | immutable=false

HTTP_PORT= # recommended=80 | type=port | prompt=Enter the HTTP port for Traefik | instruction=HTTP port for Traefik. This port is used for handling incoming HTTP requests and routing them to the appropriate containers based on the defined rules in Traefik's configuration. | default=80 | immutable=true
HTTPS_PORT= # recommended=443 | type=port | prompt=Enter the HTTPS port for Traefik | instruction=HTTPS port for Traefik. This port is used for handling incoming HTTPS requests and routing them to the appropriate containers based on the defined rules in Traefik's configuration. It is also used for serving the Traefik dashboard securely over HTTPS if configured to do so. | default=443 | immutable=true

CF_API_EMAIL= # recommended= | type=string | prompt=Enter the email address associated with your Cloudflare account | instruction=The email address you used to create the api token for traefik. | immutable=false
CF_DNS_API_TOKEN= # recommended= | type=string | prompt=Enter the API token generated in your Cloudflare account | instruction=This is the api token you created in your Cloudflare account for traefik. | default=None | immutable=false

# Password for traefik dashboard
# Install htpasswd tool if you don't have it already. You can generate a bcrypt hash of your password using the command `htpasswd -nB <user>`, replacing `<user>` with your desired username. The output will be in the format `username:hashedpassword`. To make it compatible with environment variables, you can use `echo $(htpasswd -nB <user>) | sed -e s/\\$/\\$\\$/g` to escape the dollar signs in the hashed password. This will produce a string that can be safely used as an environment variable value for `TRAEFIK_DASHBOARD_CREDENTIALS`.
# `sudo apt update`
# `sudo apt install apache2-utils`

# Use `echo $(htpasswd -nB <user>) | sed -e s/\\$/\\$\\$/g` to generate the password. Replace <user> with your username. The generated string should be in the format `username:hashedpassword`, where `hashedpassword` is the bcrypt hash of the password. This environment variable will be used by Traefik to secure access to the dashboard, allowing only users with the correct credentials to view it. Make sure to keep this credential secure and do not share it publicly, as it can be used to access your Traefik dashboard if exposed.
# Use the string generated from the command above to set the `TRAEFIK_DASHBOARD_CREDENTIALS` environment variable. This will allow you to access the Traefik dashboard securely using the specified username and password. Make sure to keep this credential secure and do not share it publicly, as it can be used to access your Traefik dashboard if exposed.
# Save the password (the one that used to generate the string) somewhere safe.

TRAEFIK_DASHBOARD_CREDENTIALS= # recommended= | type=string | prompt=Enter the credentials for Traefik dashboard in the format username:hashedpassword. Use this instruction in a new terminal to generate one `sudo apt update && sudo apt install apache2-utils && echo $(htpasswd -nB <user>) | sed -e s/\\$/\\$\\$/g. Replace <user> with a username of your choice` | instruction=You only need to remember and save the password that you use to generate the hashed password. | immutable=false
