# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for HomePage, a self-hosted homepage for all your apps.
Required=true
# METADATA --- END

STACK_HP_HOMEPAGE= # recommended=homepage | immutable=true
DOCKER_IMAGE_HP_HOMEPAGE= # recommended=ghcr.io/gethomepage/homepage:latest | type=string | prompt=Select the docker image for HomePage | choices=[ghcr.io/gethomepage/homepage:latest] | immutable=true
CONTAINER_NAME_HP_HOMEPAGE= # recommended=homepage | type=string | prompt=Enter the container name for HomePage | instruction=The container name for HomePage. | immutable=true
HOST_NAME_HP_HOMEPAGE= # recommended=homepage | type=string | immutable=true
APP_NAME_HP_HOMEPAGE= # recommended=homepage | type=string | prompt=Enter the application name for HomePage | instruction=The application name for HomePage. This is used for the URL of your app. for example, https://homepage.subdomain.domain.com | immutable=false
RESTART_HP_HOMEPAGE= # recommended=unless-stopped | type=string | prompt=Select the restart policy for HomePage | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_HP_HOMEPAGE= # recommended=172.16.0.10 | type=ip | immutable=true
PORT_HP_HOMEPAGE_INTERNAL= # recommended=8080 | type=port | immutable=true
PORT_HP_HOMEPAGE_EXTERNAL= # recommended=3005 | type=port | prompt=Enter the external port for HomePage | description=The external port for HomePage. This is the port that is exposed on the host machine and can be used to access the HomePage application from outside the Docker network. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3005) for consistency and ease of use. | immutable=true

CPU_MIN_HP_HOMEPAGE= # recommended=0.05 | type=float | immutable=true
CPU_MAX_HP_HOMEPAGE= # recommended=1.5 | type=float | prompt=Enter the maximum CPU that HomePage container should use. 1 - 3 is a good option. | immutable=false

RAM_MIN_HP_HOMEPAGE= # recommended=6M | type=memory | immutable=true
RAM_MAX_HP_HOMEPAGE= # recommended=1G | type=memory | prompt=Enter the maximum RAM to use for HomePage container. Choose this wisely if you are on a VPS. | immutable=false

DIR_HP_HOMEPAGE= # recommended=homepage | type=string | immutable=true

HP_HOMEPAGE_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select which network interfaces HomePage should be exposed | choices=[traefik (description=Only expose HomePage through traefik, default=true), all (description=Bind HomePage to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind HomePage to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
