# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for gluetun VPN container.
Required=true
# METADATA --- END

STACK_GT_GLUETUN= # recommended=gluetun | immutable=true

DOCKER_IMAGE_GT_GLUETUN= # recommended=qmcgaw/gluetun | immutable=true
CONTAINER_NAME_GT_GLUETUN= # recommended=gluetun | immutable=true
HOST_NAME_GT_GLUETUN= # recommended=gluetun | immutable=true
RESTART_GT_GLUETUN= # recommended=unless-stopped | type=string | prompt=restart policy for the gluetun container. | choices=[no, always, on-failure, unless-stopped] | immutable=false
APP_NAME_GT_GLUETUN= # recommended=gluetun | type=string | instruction=application name for monitoring and logging purposes. | immutable=true

IP_GT_GLUETUN= # recommended=172.16.0.18 | type=ip | instruction=static IP address for the gluetun container. Must be in the same subnet as the other containers. | immutable=true

DIR_GLUETUN= # recommended=arr-vpn | type=string | prompt=Directory name for the gluetun VPN | immutable=true

GT_GLUETUN_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
