# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Plex, a self-hosted media server for all your media.
Required=true
# METADATA --- END

STACK_FB_FILEBROWSER= # recommended=filebrowser | immutable=true

DOCKER_IMAGE_FB_FILEBROWSER= # recommended=filebrowser/filebrowser:s6 | type=string | prompt=Select the docker image. | choices=[filebrowser/filebrowser:s6] | immutable=true
CONTAINER_NAME_FB_FILEBROWSER= # recommended=filebrowser | type=string | prompt=Enter the container name for FileBrowser | instruction=The container name for FileBrowser. | immutable=true
HOST_NAME_FB_FILEBROWSER= # recommended=filebrowser | type=string | immutable=true
APP_NAME_FB_FILEBROWSER= # recommended=filebrowser | type=string | prompt=Enter the application name for FileBrowser | instruction=The application name for FileBrowser. This is used for the URL of your app. for example, https://filebrowser.subdomain.domain.com | immutable=false
RESTART_FB_FILEBROWSER= # recommended=unless-stopped | type=string | prompt=Select the restart policy for FileBrowser | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_FB_FILEBROWSER= # recommended=172.16.0.12 | type=string | prompt=Enter the IP address for FileBrowser | instruction=The IP address for FileBrowser. This is used for the network configuration. | immutable=true

PORT_FB_FILEBROWSER_INTERNAL= # recommended=80 | type=port | immutable=true
PORT_FB_FILEBROWSER_EXTERNAL= # recommended=3006 | type=port | prompt=Enter the external port for FileBrowser | instruction=The external port for FileBrowser. This is the port that FileBrowser listens on outside the container. | immutable=true

CPU_MIN_FB_FILEBROWSER= # recommended=0.05 | type=float | immutable=true
CPU_MAX_FB_FILEBROWSER= # recommended=2 | type=float | prompt=Enter the maximum CPU that FileBrowser container should use. 1-2 is a good option. Leave 1 core so your CPU does not freeze up completely. | immutable=false

RAM_MIN_FB_FILEBROWSER= # recommended=6M | type=memory | immutable=true
RAM_MAX_FB_FILEBROWSER= # recommended=2G | type=memory | prompt=Enter the maximum RAM to use for FileBrowser container. Choose this wisely if you are on a VPS. FileBrowser does not use a lot of RAM, but you can increase it if you have a large media library. 2G is a good start, you can always increase it later. | immutable=false

DIR_FB_FILEBROWSER= # recommended=filebrowser | type=string | immutable=true

FB_FILEBROWSER_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select which network interfaces FileBrowser should be exposed | choices=[traefik (description=Only expose FileBrowser through traefik, default=true), all (description=Bind FileBrowser to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind FileBrowser to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
