# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Beszel. Lightweight server monitoring with historical data, docker stats, and alerts.
Required=true
# METADATA --- END

STACK_IM_IMMICH= # recommended=immich | type=string | immutable=true
DOCKER_IMAGE_IM_IMMICH= # recommended=ghcr.io/immich-app/server:release | type=string | prompt=Select the docker image for immich server | choices=[ghcr.io/immich-app/server:release] | immutable=true
CONTAINER_NAME_IM_IMMICH= # recommended=immich | type=string | prompt=Enter the container name for immich | immutable=true
RESTART_IM_IMMICH= # recommended=always | type=string | prompt=Enter the restart policy for immich | choices=[no, on-failure, unless-stopped, always] | immutable=false
APP_NAME_IM_IMMICH= # recommended=immich | type=string | prompt=Enter the application name for immich. It will be used to access through website, for example - https://immich.subdomain.domain.com | immutable=false

DOCKER_IMAGE_IM_ML= # recommended=ghcr.io/immich-app/immich-machine-learning | type=string | prompt=Select the docker image for immich machine learning service | choices=[ghcr.io/immich-app/immich-machine-learning] | immutable=true
CONTAINER_NAME_IM_ML= # recommended=immich-ml | type=string | prompt=Enter the container name for immich machine learning service | immutable=true

DOCKER_IMAGE_IM_REDIS= # recommended=docker.io/valkey/valkey:9@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9 | type=string | immutable=true
CONTAINER_NAME_IM_REDIS= # recommended=immich-redis | type=string | prompt=Enter the container name for immich redis | immutable=true

DOCKER_IMAGE_IM_DATABASE= # recommended=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23 | type=string | immutable=true
CONTAINER_NAME_IM_DATABASE= # recommended=immich-database | type=string | prompt=Enter the container name for immich database | immutable=true
HOST_NAME_IM_DATABASE= # recommended=immich-database | type=string | prompt=Enter the hostname for immich database (this is used for internal communication between containers, it does not affect how you access the database) | immutable=true

IP_IM_IMMICH= # recommended=172.16.0.21 | type=ip | prompt=Enter the internal IP address for immich (this is used for internal communication between containers, it does not affect how you access the app) | immutable=true
PORT_IM_IMMICH_INTERNAL= # recommended=2283 | type=port | prompt=Enter the internal port for immich (this is used for internal communication between containers, it does not affect how you access the app) | immutable=true
PORT_IM_IMMICH_EXTERNAL= # recommended=3014 | type=port | prompt=Enter the external port for immich (this is the port you will use to access the app) | immutable=true

HWACCEL_TRANSCODING_SERVICE= # recommended=cpu | type=string | prompt=Select the transcoding service for hardware acceleration (if applicable) | choices=[cpu (description=Software transcoding, default=true), nvenc (description=For Nvidia GPUs), quicksync (description=For Intel GPUs), rkmpp (description=For Rockchip GPUs), vaapi (description=For Intel/AMD GPUs), vaapi-wsl (description=For Intel/AMD GPUs on WSL)] | immutable=false
HWACCEL_ML_SERVICE= # recommended= | type=string | prompt=Select the machine learning service for hardware acceleration (if applicable). Make sure you have supported hardware. | choices=[armnn (description=For ARM NN), cuda (description=For Nvidia GPUs), rocm (description=For AMD GPUs), openvino (description=For Intel GPUs), openvino-wsl (description=For Intel GPUs on WSL), rknn (description=For Rockchip NN)] | immutable=false

IMMICH_ALLOW_SETUP= # recommended=true | type=string | prompt=Allow setup on first run? (Set this to true for the first run, create your account and then change it to false after successfully setting up. You must restart the container to take effect.) | immutable=false

IMMICH_HOSTNAME= # recommended=127.0.0.1 | type=ip | prompt=Enter the hostname for immich (this is used for internal communication between containers, it does not affect how you access the app) | immutable=true
IMMICH_DB_PORT= # recommended=5432 | type=port | prompt=Enter the port for immich database (this is used for internal communication between containers, it does not affect how you access the app) | immutable=true
IMMICH_REDIS_PORT= # recommended=6379 | type=port | prompt=Enter the port for immich redis (this is used for internal communication between containers, it does not affect how you access the app) | immutable=true

IMMICH_DB_USERNAME= # recommended=postgres | type=string | prompt=Enter the database username for immich. You don't need to remember this. | immutable=false
IMMICH_DB_PASSWORD= # recommended= | type=password(12) | prompt=Enter the database password for immich. You don't need to remember this. You can paste the password. Just paste enter to generate a secure random password. | immutable=false
IMMICH_DB_NAME= # recommended=immich | type=string | prompt=Enter the database name for immich. You don't need to remember this. | immutable=false
DIR_IM_IMMICH= # recommended=immich | type=string | immutable=true

# The below are directly from the immich docs. Not sure if it they are used inside the code but for now keeping them here. Not adviced to change these unless you know what you are doing.
# The location where your uploaded files are stored
UPLOAD_LOCATION= # recommended= | type=path | prompt=Enter the location where your uploaded files are stored. This is where your photos and videos will be stored. You can set this to a directory on your host machine that is mounted to the container. For example, /path/to/immich/uploads. DO NOT LEAVE THIS EMPTY. | immutable=false

IM_IMMICH_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
