DOCKER_IMAGE_TR_TRAEFIK=
CONTAINER_NAME_TR_TRAEFIK=
HOST_NAME_TR_TRAEFIK=
APP_NAME_TR_TRAEFIK=
RESTART_TR_TRAEFIK=
IP_TR_TRAEFIK=
PORT_TR_TRAEFIK_HTTP=
PORT_TR_TRAEFIK_HTTPS=
PORT_TR_TRAEFIK_DASHBOARD=
DIR_NAME_TR_TRAEFIK=
CPU_MIN_TR_TRAEFIK=
CPU_MAX_TR_TRAEFIK=
RAM_MIN_TR_TRAEFIK=
RAM_MAX_TR_TRAEFIK=
HTTP_PORT=
HTTPS_PORT=
CF_API_EMAIL=
CF_DNS_API_TOKEN=
TRAEFIK_DASHBOARD_CREDENTIALS=
