# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Beszel Agent. Agent runs on the host machine and reports to the Beszel server/hub.
Required=true
# METADATA --- END

STACK_BA_BESZEL_AGENT= # recommended=beszel-agent:latest | type=string | immutable=true
DOCKER_IMAGE_BA_BESZEL_AGENT= # recommended=henrygd/beszel-agent | type=string | immutable=true
CONTAINER_NAME_BA_BESZEL_AGENT= # recommended=beszel-agent | type=string | immutable=true
HOST_NAME_BA_BESZEL_AGENT= # recommended=beszel-agent | type=string | immutable=true
RESTART_BA_BESZEL_AGENT= # recommended=unless-stopped | type=string | prompt=Choose a restart policy | choices=[no, unless-stopped, always(default=true)] | immutable=false

CPU_MIN_BA_BESZEL_AGENT= # recommended=0.05 | type=float | prompt=Minimum CPU limit (in cores) | immutable=true
CPU_MAX_BA_BESZEL_AGENT= # recommended=0.5 | type=float | prompt=Maximum CPU limit (in cores) | immutable=false

RAM_MIN_BA_BESZEL_AGENT= # recommended=6M | type=string | prompt=Minimum RAM limit (e.g., 128M, 1G) | immutable=true
RAM_MAX_BA_BESZEL_AGENT= # recommended=256M | type=string | prompt=Maximum RAM limit (e.g., 256M, 2G) | immutable=false

HUB_URL_BA_BESZEL_AGENT= # recommended=http://localhost:8090 | type=string | prompt=URL for the Beszel server/hub. If you are using traefik, then this should be the external URL, otherwise the internal one | immutable=false

DIR_BESZEL= # recommended=beszel | type=string | prompt=Directory name for Beszel server socket (relative to data directory) | immutable=true
DIR_BESZEL_AGENT= # recommended=beszel_agent | type=string | prompt=Directory name for Beszel agent data (relative to data directory) | immutable=true

BESZEL_AGENT_KEY= # recommended= | type=string | prompt=Enter the ssh key provided from beszel hub. Go to beszel hub and click on add service, note down the ssh key and enter it here. | immutable=false
BESZEL_AGENT_TOKEN= # recommended= | type=string | prompt=Enter the token provided from beszel hub. Go to beszel hub and click on add service, note down the token and enter it here. | immutable=false
