# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Dozzle. Realtime log viewer for containers. Supports Docker, Swarm and K8s.
Required=true
# METADATA --- END

DOCKER_IMAGE_DZ_DOZZLE= # recommended=amir20/dozzle:latest  | type=string | immutable=true
CONTAINER_NAME_DZ_DOZZLE= # recommended=dozzle | type=string | immutable=true
HOST_NAME_DZ_DOZZLE= # recommended=dozzle | type=string | immutable=true
RESTART_DZ_DOZZLE= # recommended=unless-stopped | type=string | prompt=Choose a restart policy | choices=[no, unless-stopped, always(default=true)] | immutable=false

APP_NAME_DZ_DOZZLE= # recommended=dozzle | type=string | prompt=Enter the name for this application, It will be used for the website. For example, https://dozzle.subdomain.domain.com | immutable=false

IP_DZ_DOZZLE= # recommended=172.16.0.19 | type=ip |immutable=true

CPU_MIN_DZ_DOZZLE= # recommended=0.25 | type=float | prompt=Minimum CPU limit (in cores) | immutable=true
CPU_MAX_DZ_DOZZLE= # recommended=0.5 | type=float | prompt=Maximum CPU limit (in cores) | immutable=false

RAM_MIN_DZ_DOZZLE= # recommended=256M | type=string | prompt=Minimum RAM limit (e.g., 128M, 1G) | immutable=true
RAM_MAX_DZ_DOZZLE= # recommended=512M | type=string | prompt=Maximum RAM limit (e.g., 256M, 2G) | immutable=false

PORT_DZ_DOZZLE_INTERNAL= # recommended=8080 | type=int | prompt=Internal port Dozzle listens on | immutable=true
PORT_DZ_DOZZLE_EXTERNAL= # recommended=3012 | type=int | prompt=External port to access Dozzle | immutable=true

DIR_DOZZLE= # recommended=dozzle | type=string | prompt=Directory name for Dozzle data (relative to data directory) | immutable=true

DZ_DOZZLE_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
