# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for the karakeep container. These variables are used to configure the karakeep container and its resources. You can modify these variables to change the configuration of the karakeep container. Make sure to read the comments for each variable to understand what it does and how to use it.
Required=true
# METADATA --- END

STACK_NAME_KK_KARAKEEP= # recommended=karakeep | immutable=true

DOCKER_IMAGE_KK_KARAKEEP= # recommended=ghcr.io/karakeep-app/karakeep:release | immutable=true
CONTAINER_NAME_KK_KARAKEEP= # recommended=karakeep | type=string | prompt=Enter the container name for karakeep | description=The container name for karakeep. This is used for identifying the container within the Docker environment and can be set to any value, but it is recommended to set it to the same value as the hostname and application name for consistency and ease of identification. | immutable=true
HOST_NAME_KK_KARAKEEP= # recommended=karakeep | type=string | prompt=Enter the hostname for karakeep | description=The hostname for karakeep. This is used for internal communication between containers and can be set to any value, but it is recommended to set it to the same value as the container name for consistency and ease of identification. | immutable=true
APP_NAME_KK_KARAKEEP= # recommended=karakeep | type=string | prompt=Enter the application name for karakeep | description=The application name for karakeep. This is subdomain of the url. for example: https://karakeep.subdomain.domain.com. karakeep is a good option. | immutable=false
RESTART_KK_KARAKEEP= # recommended=unless-stopped | prompt=Select the restart policy for karakeep | instruction=always is a good option | choices=[no, always, on-failure, unless-stopped] | immutable=false


IP_KK_KARAKEEP= # recommended=172.16.0.6 | type=ip | prompt=Enter the IP address for karakeep | description=The IP address for karakeep. This is used for internal communication between containers and should be set to a unique value within the Docker network. It is recommended to use an IP address in the private range (e.g., 172.16.x.x) to avoid conflicts with public IP addresses. | immutable=true
PORT_KK_KARAKEEP_INTERNAL= # recommended=3000 | type=port | prompt=Enter the internal port for karakeep | description=The internal port for karakeep. This is the port that the karakeep container listens on for incoming traffic. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3000) for consistency and ease of use. | immutable=true
PORT_KK_KARAKEEP_EXTERNAL= # recommended=3001 | type=port | prompt=Enter the external port for karakeep | description=The external port for karakeep. This is the port that is exposed on the host machine and can be used to access the karakeep application from outside the Docker network. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3001) for consistency and ease of use. | immutable=true

DOCKER_IMAGE_KK_CHROME= # recommended=gcr.io/zenika-hub/alpine-chrome:124 | immutable=true
DOCKER_IMAGE_KK_MEILISEARCH= # recommended=getmeili/meilisearch:v1.41.0 | immutable=true

CPU_MIN_KK_KARAKEEP= # recommended=0.05 | type=float | prompt=Enter the minimum CPU limit for karakeep | description=The minimum CPU limit for karakeep. This is the minimum amount of CPU resources that the karakeep container is guaranteed to have access to. It can be set to any value, but it is recommended to set it to a low value (e.g., 0.05) to allow for efficient resource allocation and to prevent the container from being starved of resources. | immutable=true
CPU_MAX_KK_KARAKEEP= # recommended=3 | type=float | prompt=Enter the maximum CPU limit for karakeep | description=Hard limit for maximum CPU this container can use. 3 is a good option. Choose wisely if you are on VPS. | immutable=false

RAM_MIN_KK_KARAKEEP= # recommended=6M | type=memory | prompt=Enter the minimum RAM limit for karakeep | description=The minimum RAM limit for karakeep. This is the minimum amount of RAM that the karakeep container is guaranteed to have access to. It can be set to any value, but it is recommended to set it to a low value (e.g., 6M) to allow for efficient resource allocation and to prevent the container from being starved of resources. | immutable=true
RAM_MAX_KK_KARAKEEP= # recommended=256M | type=memory | prompt=Enter the maximum RAM limit for karakeep | description=Max RAM this container can use. 2G is a good option. Choose wisely if you are on VPS. | immutable=false

DIR_KK_KARAKEEP= # recommended=KARAKEEP | type=string | prompt=Enter the directory for karakeep data | description=The directory for karakeep data. This is the directory on the host machine where the karakeep container will store its data. It can be set to any value, but it is recommended to set it to a descriptive name (e.g., KARAKEEP) for consistency and ease of identification. | immutable=true

KARAKEEP_VERSION= # recommended=release | immutable=true
NEXTAUTH_SECRET= # recommended=h5Nt9qYqQo2d38d094sCkZ3FJE04JV3bcSpQoirXvPjZm5H2 | type=base64urlsafe(32) | prompt=Enter the NextAuth secret for karakeep | instruction=Random URL-safe base64 string of minimum 32 characters. Leave blank to auto-generate a secure value. You don't need to remember or save this. Use `openssl rand -base64 32` command in another terminal to generate one. DO NOT SHARE THIS SECRET PUBLICLY. | immutable=false
MEILI_MASTER_KEY= # recommended=bgYbvtTiK+ynKEF0Hco4z6xbjLv3XQcXKr/jMEmSv3fk1bJd | type=base64urlsafe(32) | prompt=Enter the Meilisearch master key for karakeep | instruction=Random URL-safe base64 string of minimum 32 characters. Leave blank to auto-generate a secure value. You don't need to remember or save this. Use `openssl rand -base64 32` command in another terminal to generate one. DO NOT SHARE THIS SECRET PUBLICLY. | immutable=false
NEXTAUTH_URL= # recommended=https://karakeep.<hostname>.domain.com | type=string | prompt=Enter the external NextAuth URL for karakeep | instruction=The NextAuth URL for karakeep. It should be set to the public URL of your karakeep instance (e.g., https://karakeep.yourdomain.com) to ensure that users can access the authentication system properly. | immutable=false

# Use homestack variables to make sure if the user wants to continue to add various features. For example, adding optional openai_api_key if the user wants to use openai ai features in karakeep. This way, we can keep the configuration organized and only ask the user for relevant information based on their choices.

# HOMESTACK_OPTIONAL_QUESTIONS=

# OPENAI_API_KEY=ollama
# OPENAI_BASE_URL=http://ollama.mylab.com:11434/v1

# # Make sure to pull the models in ollama first. Example models:
# INFERENCE_TEXT_MODEL=gemma3
# INFERENCE_IMAGE_MODEL=llava

KK_KARAKEEP_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose karakeep through traefik, default=true), all (description=Bind karakeep to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind karakeep to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
