# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Linkwarden is a self-hosted bookmarks manager.
Required=true
# METADATA --- END

STACK_LW_LINKWARDEN= # recommended=linkwarden | immutable=true

DOCKER_IMAGE_LW_LINKWARDEN= # recommended=ghcr.io/linkwarden/linkwarden:latest | type=string | prompt=Select the docker image for linkwarden | choices=[ghcr.io/linkwarden/linkwarden:latest (default=true, description=linkwarden docker image hosted on github)] | immutable=true
CONTAINER_NAME_LW_LINKWARDEN= # recommended=linkwarden | type=string | prompt=Enter the container name for linkwarden | instruction=The container name for linkwarden. This is used for identifying the container within the Docker environment and can be set to any value, but it is recommended to set it to the same value as the hostname and application name for consistency and ease of identification. | immutable=true
HOST_NAME_LW_LINKWARDEN= # recommended=linkwarden | type=string | prompt=Enter the hostname for linkwarden | instruction=The hostname for linkwarden. This is used for internal communication between containers and can be set to any value, but it is recommended to set it to the same value as the container name for consistency and ease of identification. | immutable=true
APP_NAME_LW_LINKWARDEN= # recommended=linkwarden | type=string | prompt=Enter the application name for linkwarden | instruction=The application name for linkwarden. This is used for the URL of your app. for example, https://linkwarden.subdomain.domain.com | immutable=false
RESTART_LW_LINKWARDEN= # recommended=unless-stopped | type=string | prompt=Select the restart policy for linkwarden | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

DOCKER_IMAGE_LW_POSTGRES= # recommended=postgres:16-alpine | immutable=true | instruction=Docker image of postgres that is used by linkwarden
CONTAINER_NAME_LW_POSTGRES= # recommended=linkwarden-postgres | immutable=true | instruction=Container name for the postgres container that is used by linkwarden

DOCKER_IMAGE_LW_MEILISEARCH= # recommended=getmeili/meilisearch:v1.12.8 | immutable=true | instruction=Docker image of Meilisearch that is used by linkwarden
CONTAINER_NAME_LW_MEILISEARCH= # recommended=linkwarden-meilisearch | immutable=true | instruction=Container name for the Meilisearch container that is used by linkwarden


IP_LW_LINKWARDEN= # recommended=172.16.0.8 | type=ip | prompt=Enter the IP address for linkwarden | instruction=The IP address for linkwarden. This is used for internal communication between containers and can be set to any value, but it is recommended to set it to the same value as the container name for consistency and ease of identification. | immutable=false
PORT_LW_LINKWARDEN_EXTERNAL= # recommended=3003 | type=port | prompt=Enter the external port for linkwarden | description=The external port for linkwarden. This is the port that is exposed on the host machine and can be used to access the linkwarden application from outside the Docker network. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3003) for consistency and ease of use. | immutable=true
PORT_LW_LINKWARDEN_INTERNAL= # recommended=3000 | immutable=true

DIR_NAME_LW_LINKWARDEN= # recommended=linkwarden | type=string | prompt=Enter the directory name to save the data of linkwarden | description=The directory name to save the data of linkwarden. This is used for persisting data and can be set to any value, but it is recommended to set it to the same value as the container name for consistency and ease of identification. | immutable=true

POSTGRES_USERNAME= # recommended=admin | type=string | prompt=Enter the PostgreSQL username | instruction=The username for the PostgreSQL database used by linkwarden. You don't have to remember or save this. | immutable=false
POSTGRES_PASSWORD= # recommended=super-secret-password | type=password | prompt=Enter the PostgreSQL password | instruction=The password for the PostgreSQL database used by linkwarden. You don't have to remember or save this. | immutable=false
POSTGRES_DB= # recommended=linkwarden | type=string | prompt=Enter the PostgreSQL database name | instruction=The name of the PostgreSQL database used by linkwarden. | immutable=true

CPU_MIN_LW_LINKWARDEN= # recommended=0.05 | type=float | prompt=Enter the minimum CPU limit for linkwarden | instruction=The minimum CPU limit for linkwarden. | immutable=true
CPU_MAX_LW_LINKWARDEN= # recommended=2 | type=float | prompt=Enter the maximum CPU limit for linkwarden | instruction=The maximum CPU limit for linkwarden. 2 is a good option. Choose wisely if you are on VPS. | immutable=true

RAM_MIN_LW_LINKWARDEN= # recommended=16M | type=memory | prompt=Enter the minimum RAM limit for linkwarden | instruction=The minimum RAM limit for linkwarden. | immutable=true
RAM_MAX_LW_LINKWARDEN= # recommended=1G | type=memory | prompt=Enter the maximum RAM limit for linkwarden | instruction=The maximum RAM limit for linkwarden. 1G is a good option. Choose wisely if you are on VPS. | immutable=false


NEXTAUTH_URL= # recommended=http://localhost:3000/api/v1/auth | type=string | prompt=Enter the external URL for linkwarden, if you don't have an external url, leave it as default | description=The external URL for linkwarden. This is used for authentication purposes. | immutable=false
NEXTAUTH_SECRET= # recommended=None | type=passphrase(32) | prompt=Enter the secret for NextAuth | instruction=Just a random string of minimum length of 32 characters. Leave blank to auto-generate a secure value. You don't need to remember or save this. Open another terminal and use this command `openssl rand -base64 32` to generate one. or just face plant your keyboard. DO NOT SHARE IT PUBLICLY. | immutable=false
MEILI_MASTER_KEY= # recommended=None | type=passphrase(32) | prompt=Enter the master key for MeiliSearch | instruction=Just a random string of minimum length of 32 characters. Leave blank to auto-generate a secure value. You don't need to remember or save this. Open another terminal and use this command `openssl rand -base64 32` to generate one. or just face plant your keyboard. DO NOT SHARE IT PUBLICLY. | immutable=false

LW_LINKWARDEN_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose linkwarden through traefik, default=true), all (description=Bind linkwarden to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind linkwarden to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
