# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Plex, a self-hosted media server for all your media.
Required=true
# METADATA --- END

STACK_VW_VAULTWARDEN= # recommended=vaultwarden | immutable=true
DOCKER_IMAGE_VW_VAULTWARDEN= # recommended=vaultwarden/server:latest | type=string | prompt=Select the docker image. | choices=[vaultwarden/server:latest] | immutable=true
CONTAINER_NAME_VW_VAULTWARDEN= # recommended=vaultwarden | type=string | prompt=Enter the container name for Vaultwarden | instruction=The container name for Vaultwarden. | immutable=true
HOST_NAME_VW_VAULTWARDEN= # recommended=vaultwarden | type=string | immutable=true
APP_NAME_VW_VAULTWARDEN= # recommended=vault | type=string | prompt=Enter the application name for Vaultwarden | instruction=The application name for Vaultwarden. This is used for the URL of your app. for example, https://vaultwarden.subdomain.domain.com | immutable=false
RESTART_VW_VAULTWARDEN= # recommended=unless-stopped | type=string | prompt=Select the restart policy for Vaultwarden | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_VW_VAULTWARDEN= # recommended=172.16.0.16 | type=ip | prompt=Enter the IP address for Vaultwarden | instruction=The IP address for Vaultwarden. This is used for the network configuration. | immutable=false
PORT_VW_VAULTWARDEN_INTERNAL= # recommended=80 | type=port | immutable=true
PORT_VW_VAULTWARDEN_EXTERNAL= # recommended=3010 | type=port | prompt=Enter the external port for Vaultwarden | instruction=The external port for Vaultwarden. | immutable=true

CPU_MIN_VW_VAULTWARDEN= # recommended=0.05 | type=float | immutable=true
CPU_MAX_VW_VAULTWARDEN= # recommended=2 | type=float | prompt=Enter the maximum CPU that Vaultwarden container should use. 1-2 is a good option. You can also assign the maximum CPU because vaultwarden uses some CPU compute. Leave 1 or 2 cores so your CPU does not freeze up completely. | immutable=false

RAM_MIN_VW_VAULTWARDEN= # recommended=6M | type=memory | immutable=true
RAM_MAX_VW_VAULTWARDEN= # recommended=2G | type=memory | prompt=Enter the maximum RAM to use for Vaultwarden container. Choose this wisely if you are on a VPS. Vaultwarden can use a lot of RAM if you have a large vault. 2G is a good start, you can always increase it later. | immutable=false

SIGNUPS_ALLOWED= # recommended=false | type=string | prompt=Do you want to allow signups for Vaultwarden? | instruction=This option determines whether users can sign up for a new account on Vaultwarden. Turn it on and then after you have signed up, turn it off. | choices=[true, false] | immutable=false
INVITATIONS_ALLOWED= # recommended=true | type=string | prompt=Do you want to allow invitations for Vaultwarden? | instruction=This option determines whether users can invite others to join their Vaultwarden instance. If set to false, users will not be able to send invitations to others. If set to true, users will be able to send invitations to others to join their Vaultwarden instance. | choices=[true, false] | immutable=false

ADMIN_TOKEN= # recommended= | type=string | prompt=Enter the admin token for Vaultwarden | instruction=Create one using `echo -n 'MySecretPassword' | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4` and make sure it is in single quotes eg. '$argon2id$v=19$m=65540,t=3,p=4$MmeK.....'

DIR_VW_VAULTWARDEN= # recommended=vaultwarden | type=string | immutable=true
