# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Stirling pdf is a web-based PDF generation service that allows users to create PDFs from HTML templates. It provides an API for generating PDFs, as well as a web interface for managing templates and viewing generated PDFs. Stirling pdf is designed to be lightweight and easy to use, making it a great choice for applications that need to generate PDFs on the fly without relying on heavy libraries or services. It can be used for a variety of use cases, such as generating invoices, reports, or any other type of document that can be represented in HTML format.
Required=true
# METADATA --- END

STACK_SP_STIRLINGPDF= # recommended=stirlingpdf | immutable=true

DOCKER_IMAGE_SP_STIRLINGPDF= # recommended=stirlingtools/stirling-pdf:latest | type=string | prompt=Select the Docker image for sterlingpdf | choices=[stirlingtools/stirling-pdf:latest] | immutable=true
DOCKER_IMAGE_SP_STIRLINGPDF_LITE= # recommended=stirlingtools/stirling-pdf:latest-ultra-lite | immutable=true
DOCKER_IMAGE_SP_STIRLINGPDF_FAT= # recommended=stirlingtools/stirling-pdf:latest-fat | immutable=true

CONTAINER_NAME_SP_STIRLINGPDF= # recommended=stirlingpdf | type=string | prompt=Enter the container name for sterlingpdf | immutable=true
HOST_NAME_SP_STIRLINGPDF= # recommended=stirlingpdf | type=string | prompt=Enter the hostname for sterlingpdf | immutable=true
APP_NAME_SP_STIRLINGPDF= # recommended=pdf | type=string | prompt=Enter the subdomain for sterlingpdf | immutable=true

DIR_NAME_STIRLINGPDF= # recommended=stirlingpdf | type=string | prompt=Enter the directory name for sterlingpdf | immutable=true

RESTART_SP_STIRLINGPDF= # recommended=unless-stopped | type=string | prompt=Select the restart policy for sterlingpdf | choices=[no, always, unless-stopped, on-failure] | immutable=false

IP_SP_STIRLINGPDF= # recommended=172.16.0.7 | type=ip | prompt=Enter the IP address for sterlingpdf | description=The IP address for sterlingpdf. This is used for internal communication between containers and should be set to a unique value within the Docker network. It is recommended to use an IP address in the private range (e.g., 172.16.x.x) to avoid conflicts with public IP addresses. | immutable=true
PORT_SP_STIRLINGPDF_EXTERNAL= # recommended=3002 | type=port | prompt=Enter the external port for sterlingpdf | description=The external port for sterlingpdf. This is the port that is exposed on the host machine and can be used to access the sterlingpdf application from outside the Docker network. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3002) for consistency and ease of use. | immutable=true
PORT_SP_STIRLINGPDF_INTERNAL= # recommended=8080 | type=port | prompt=Enter the internal port for sterlingpdf | description=Internal port of the sterlingpdf container. DO NOT CHANGE. | immutable=true

USERNAME_SP_STIRLINGPDF= # recommended=admin | type=string | prompt=Enter the initial admin username for sterlingpdf | instruction=The initial admin username for the sterlingpdf service. This is used for logging into the web interface and should be changed to a secure value. | immutable=false
PASSWORD_SP_STIRLINGPDF= # recommended=super-secret-password | type=password | prompt=Enter the initial admin password for sterlingpdf | instruction=The initial admin password for the sterlingpdf service. This is used for logging into the web interface and should be changed to a secure value. | immutable=false

CPU_MIN_SP_STIRLINGPDF= # recommended=0.05 | type=float | prompt=Enter the minimum CPU reservation for sterlingpdf | instruction=The minimum CPU reservation for the sterlingpdf container. This ensures that the container has access to a certain amount of CPU resources, even under heavy load. | immutable=true
CPU_MAX_SP_STIRLINGPDF= # recommended=2 | type=float | prompt=Enter the maximum CPU limit for sterlingpdf | instruction=Maximum amount of CPU this container can use. 2 is a good option. Choose wisely if you are on VPS. | immutable=false

RAM_MIN_SP_STIRLINGPDF= # recommended=16M | type=memory | prompt=Enter the minimum RAM reservation for sterlingpdf | instruction=The minimum RAM reservation for the sterlingpdf container. This ensures that the container has access to a certain amount of memory resources, even under heavy load. | immutable=true
RAM_MAX_SP_STIRLINGPDF= # recommended=1G | type=memory | prompt=Enter the maximum RAM limit for sterlingpdf | instruction=Maximum RAM this container can use. 1G is a good option. Choose wisely if you are on VPS. | immutable=false

SP_STIRLINGPDF_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select which network interfaces sterlingpdf should be exposed | choices=[traefik (description=Only expose sterlingpdf through traefik, default=true), localhost (description=Bind sterlingpdf to all interfaces on the host, allowing access through both the host IP and traefik), tailscale (description=Bind sterlingpdf to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
