# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for IT Tools, swiss knife of IT tools for all your IT needs.
Required=true
# METADATA --- END

STACK_IT_TOOLS= # recommended=it-tools | immutable=true

DOCKER_IMAGE_IT_TOOLS= # recommended=sharevb/it-tools:latest | type=string | prompt=Select the docker image. | choices=[sharevb/it-tools:latest] | immutable=true
CONTAINER_NAME_IT_TOOLS= # recommended=it-tools | type=string | prompt=Enter the container name for IT Tools | instruction=The container name for IT Tools. | immutable=true
HOST_NAME_IT_TOOLS= # recommended=it-tools | type=string | immutable=true
APP_NAME_IT_TOOLS= # recommended=it-tools | type=string | prompt=Enter the application name for IT Tools | instruction=The application name for IT Tools. This is used for the URL of your app. for example, https://it-tools.subdomain.domain.com | immutable=false
RESTART_IT_TOOLS= # recommended=unless-stopped | type=string | prompt=Select the restart policy for IT Tools | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_IT_TOOLS= # recommended=172.16.0.13 | type=ip | prompt=Enter the IP address for IT Tools | instruction=The IP address for IT Tools. This is used for the network configuration. | immutable=true
PORT_IT_TOOLS_INTERNAL= # recommended=8080 | type=port | immutable=true
PORT_IT_TOOLS_EXTERNAL= # recommended=3007 | type=port | prompt=Enter the external port for IT Tools | instruction=The external port for IT Tools. This is the port that IT Tools listens on outside the container. | immutable=true

CPU_MIN_IT_TOOLS= # recommended=0.05 | type=float | immutable=true
CPU_MAX_IT_TOOLS= # recommended=1 | type=float | prompt=Enter the maximum CPU limit for IT Tools | instruction=The maximum CPU limit for IT Tools. This is used for resource allocation. | immutable=false

RAM_MIN_IT_TOOLS= # recommended=6M | type=memory | immutable=true
RAM_MAX_IT_TOOLS= # recommended=256M | type=memory | prompt=Enter the maximum RAM limit for IT Tools | instruction=The maximum RAM limit for IT Tools. This is used for resource allocation. Choose this wisely if you are on a VPS. IT Tools does not use a lot of RAM, but you can increase it if you have a large media library. 256M is a good start, you can always increase it later. | immutable=false

DIR_IT_TOOLS= # recommended=it-tools | type=string | immutable=true

IT_TOOLS_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select which network interfaces IT Tools should be exposed | choices=[traefik (description=Only expose IT Tools through traefik, default=true), localhost (description=Bind IT Tools to all interfaces on the host, allowing access through both the host IP and traefik), tailscale (description=Bind IT Tools to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
