# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for hat.sh, a self-hosted encryption and decryption in browser.
Required=true
# METADATA --- END

STACK_HT_HATSH= # recommended=hatsh | immutable=true

DOCKER_IMAGE_HT_HATSH= # recommended=shdv/hat.sh | type=string | prompt=Select the docker image for hat.sh | choices=[shdv/hat.sh] | immutable=true
CONTAINER_NAME_HT_HATSH= # recommended=hatsh | type=string | prompt=Enter the container name for hat.sh | instruction=The container name for hat.sh. | immutable=true
HOST_NAME_HT_HATSH= # recommended=hatsh | type=string | immutable=true
APP_NAME_HT_HATSH= # recommended=hatsh | type=string | prompt=Enter the application name for hat.sh | instruction=The application name for hat.sh. This is used for the URL of your app. for example, https://hatsh.subdomain.domain.com | immutable=false
RESTART_HT_HATSH= # recommended=unless-stopped | type=string | prompt=Select the restart policy for hat.sh | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_HT_HATSH= # recommended=172.16.0.15 | type=ip | immutable=true
PORT_HT_HATSH_INTERNAL= # recommended=80 | type=port | immutable=true
PORT_HT_HATSH_EXTERNAL= # recommended=3009 | type=port | prompt=Enter the external port for hat.sh | instruction=The port that you will use to access hat.sh. for example, http://subdomain.domain.com:3009 | immutable=false

CPU_MIN_HT_HATSH= # recommended=0.05 | type=float | immutable=true
CPU_MAX_HT_HATSH= # recommended=0.5 | type=float | prompt=Enter the maximum CPU limit for hat.sh | instruction=The maximum CPU limit for hat.sh. | immutable=false

RAM_MIN_HT_HATSH= # recommended=6M | type=memory | immutable=true
RAM_MAX_HT_HATSH= # recommended=128M | type=memory | prompt=Enter the maximum RAM limit for hat.sh | instruction=The maximum RAM limit for hat.sh. | immutable=false

DIR_HT_HATSH= # recommended=hatsh | type=string | immutable=true

HT_HATSH_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose through traefik, default=true), all (description=Bind to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind  to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
