# host.env file contains host related environment variables

HOST_NAME= # This is the name of the host, can be the same as host name or a sub domain of choice
DOMAIN= # This is the domain name 
HOST_IP= # This is the IP address of the host machine on the local network

TZ= # timezone in tz format, find yours here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

UID= # UID of the user, find using command `id`
GID= # GID of the group docker, find using command `getent group docker`

# All directories variable names must start with DIR_ prefix 
DIR_HOME= # home directory, it would be /home/<username>
DIR_HOMELAB= # homelab directory, it would be /home/<username>/homestack, where homestack is the where all the docker containers are located