# homelabnet.env contains necessary information regarding docker internal network called homelabnet 
# and IP address and ports for each docker container that are a part of this network

NETWORK_NAME=homelabnet
SUBNET=192.168.1.0/24
ALLOWED_NETWORKS=192.168.1.0/24

