# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for MeTube, a self-hosted YouTube downlaoder.
Required=true
# METADATA --- END

STACK_MT_METUBE= # recommended=metube | immutable=true

DOCKER_IMAGE_MT_METUBE= # recommended=alexta69/metube:latest | type=string | prompt=Select the docker image for MeTube | choices=[alexta69/metube:latest] | immutable=true
CONTAINER_NAME_MT_METUBE= # recommended=metube | type=string | prompt=Enter the container name for MeTube | instruction=The container name for MeTube. | immutable=true
HOST_NAME_MT_METUBE= # recommended=metube | type=string | immutable=true
APP_NAME_MT_METUBE= # recommended=metube | type=string | prompt=Enter the application name for MeTube | instruction=The application name for MeTube. This is used for the URL of your app. for example, https://metube.subdomain.domain.com | immutable=false
RESTART_MT_METUBE= # recommended=unless-stopped | type=string | prompt=Select the restart policy for MeTube | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_MT_METUBE= # recommended=172.16.0.9 | type=ip | immutable=true
PORT_MT_METUBE_INTERNAL= # recommended=8081 | type=port | immutable=true
PORT_MT_METUBE_EXTERNAL= # recommended=3004 | type=port | prompt=Enter the external port for MeTube | description=The external port for MeTube. This is the port that is exposed on the host machine and can be used to access the MeTube application from outside the Docker network. It can be set to any value, but it is recommended to set it to a common port for web applications (e.g., 3004) for consistency and ease of use. | immutable=true

CPU_MIN_MT_METUBE= # recommended=0.05 | type=float | immutable=true
CPU_MAX_MT_METUBE= # recommended=1.5 | type=float | prompt=Enter the maximum CPU that metube container should use. 1.5 - 3 is a good option. | immutable=false

RAM_MIN_MT_METUBE= # recommended=6M | type=memory | immutable=true
RAM_MAX_MT_METUBE= # recommended=1G | type=memory | prompt=Enter the maximum RAM to use for metube container. Choose this wisely if you are on a VPS. | immutable=false

DIR_MT_METUBE= # recommended=metube | type=string | immutable=true

MT_METUBE_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose MeTube through traefik, default=true), all (description=Bind MeTube to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind MeTube to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
