# METADATA --- START
# DO NOT CHANGE THE BELOW
Description=Environment variables for Omni Tools, a self-hosted tool suite for various utilities.
Required=true
# METADATA --- END

STACK_OT_OMNI_TOOLS= # recommended=omni-tools | immutable=true

DOCKER_IMAGE_OT_OMNI_TOOLS= # recommended=iib0011/omni-tools:latest | type=string | prompt=Select the docker image. | choices=[iib0011/omni-tools:latest] | immutable=true
CONTAINER_NAME_OT_OMNI_TOOLS= # recommended=omni-tools | type=string | prompt=Enter the container name for Omni Tools | instruction=The container name for Omni Tools. | immutable=true
HOST_NAME_OT_OMNI_TOOLS= # recommended=omni-tools | type=string | immutable=true
APP_NAME_OT_OMNI_TOOLS= # recommended=omni-tools | type=string | prompt=Enter the application name for Omni Tools | instruction=The application name for Omni Tools. This is used for the URL of your app. for example, https://omni-tools.subdomain.domain.com | immutable=false
RESTART_OT_OMNI_TOOLS= # recommended=unless-stopped | type=string | prompt=Select the restart policy for Omni Tools | choices=[no, always (default=true), on-failure, unless-stopped] | immutable=false

IP_OT_OMNI_TOOLS= # recommended=172.16.0.14 | type=ip | prompt=Enter the IP address for Omni Tools | instruction=The IP address for Omni Tools. This is used for the network configuration. | immutable=true
PORT_OT_OMNI_TOOLS_INTERNAL= # recommended=8080 | type=port | immutable=true
PORT_OT_OMNI_TOOLS_EXTERNAL= # recommended=8080 | type=port | prompt=Enter the external port for Omni Tools | instruction=The external port for Omni Tools. This is the port that Omni Tools listens on outside the container. | immutable=false

CPU_MIN_OT_OMNI_TOOLS= # recommended=0.05 | type=float | immutable=true
CPU_MAX_OT_OMNI_TOOLS= # recommended=1 | type=float | prompt=Enter the maximum CPU limit for Omni Tools | instruction=The maximum CPU limit for Omni Tools. This is used for resource allocation. | immutable=false

RAM_MIN_OT_OMNI_TOOLS= # recommended=6M | type=memory | immutable=true
RAM_MAX_OT_OMNI_TOOLS= # recommended=512M | type=memory | prompt=Enter the maximum RAM limit for Omni Tools | instruction=The maximum RAM limit for Omni Tools. This is used for resource allocation. Choose this wisely if you are on a VPS. Omni Tools does not use a lot of RAM, but you can increase it if you have a large media library. 512M is a good start, you can always increase it later. | immutable=false

OT_OMNI_TOOLS_PORT_CONFIG= # recommended=traefik | type=string | prompt=Select on which network interfaces the service should be exposed | choices=[traefik (description=Only expose Omni Tools through traefik, default=true), all (description=Bind Omni Tools to all interfaces on the host, allowing access through both the host IP and traefik), localhost (description=Expose port to localhost, only accesible from this computer and not any other computers on the network and through traefik), tailscale (description=Bind Omni Tools to the Tailscale IP only, restricting access to devices connected through Tailscale and through traefik)] | immutable=false
